h1, h2, h3, h4 {
    font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
}
a {
    color: #000;
}
a:visited {
    color: #999;
}
a:hover {
    color: #852A2C;
    text-decoration: underline;
}
p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
    margin: 3em 0;
}
#header {
    overflow: hidden;
    margin-bottom: 3em;
}
#header h1 {
    float: left;
    margin-bottom: 0;
    font-size: 4em;
}
#header h1 a {
    color: #852A2C;
    text-decoration: none;
    font-weight: bold;
}
#header h1 a:hover {
    color: #000;
}
#header h2 {
    float: left;
    font-size: 1.33em;
    margin: 1.33em 0 0 1em;
}
#sidebar {
    font-size: 1.167em;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar #links {
    margin-bottom: 2em;
}
#sidebar #links li {
    letter-spacing: 1px;
}
#sidebar .chronologie, #sidebar .rss {
    margin-bottom: 1em;
}
#sidebar h3 {
    margin-bottom: 1em;
    color: #852A2C;
    font-weight: bold;
}
#main h1 a {
    font-weight: bold;
    text-decoration: none;
}
#main h1 a:visited {
    color: #000;
}
#main h1 a:hover {
    color: #852A2C;
}
#main .date, #main .auteur {
    margin-bottom: 1em;
    color: #999;
}
#main h2, #main h3, #main h4 {
    font-weight: bold;
    color: #852A2C;
}
#main p, #main li {
    font-size:1.167em;
}
#main pre {
    overflow-x: auto;
}
#main pre code {
    color: #5F5A60;
    font-size: 1.083em;
}
#main .highlight {
    background: #292929;
}
#main .highlight .c1, #main .highlight .x {
    color: #5F5A60;
}
#main .highlight .k, #main .highlight .kp {
    color: #CDA869;
}
#main .highlight .bash, #main .highlight .html, #main .highlight .cp, #main .highlight .n, #main .highlight .o, #main .highlight .p, #main .highlight .sx {
    color: #B0B0B0;
}
#main .highlight .na, #main .highlight .nc, #main .highlight .nf, #main .highlight .nt, #main .highlight .x {
    color: #9B703F;
}
#main .highlight .no {
    color: #9B859D;
}
#main .highlight .s, #main .highlight .s1, #main .highlight .s2, #main .highlight .sh {
    color: #8F9D6A;
}
#main .highlight .si {
    color: #F9EE98;
}
#main .highlight .nb, #main .highlight .sx, #main .highlight .vi {
    color: #7587A6;
}
#main .highlight .m, #main .highlight .mi, #main .highlight .ss {
    color: #CF6A4C;
}
#main #post {
    margin-bottom: 2em;
}
#main #derniers-articles {
    margin-bottom: 2em;
}
#main #derniers-articles h3 a {
    text-decoration:none;
}
#main #derniers-articles p {
    font-size: 1em;
}
#main #archives ul {
    padding-left: 1em;
    list-style: inside;
}
#main #archives li span {
    margin-left: 1em;
    color: #999;
}

#footer {
    margin-top: 1em;
    padding-top: 1em;
}
