h1, h2, h3, h4 {
    font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
}
h2, h3, h4 {
    font-weight: bold;
    color: #852A2C;
}
h3 {
    line-height: 1.25em;
}
a {
    color: #000;
}
a:visited {
    color: #5f5f5f;
}
a:hover {
    color: #852A2C;
    text-decoration: underline;
}
p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
    margin: 3em 0;
}
#header {
    overflow: hidden;
    margin-bottom: 3em;
    position: relative;
}
#header h1 {
    margin-bottom: 0;
    font-size: 4em;
}
#header h1 a {
    color: #852A2C;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #999 0px 1px 2px;
}
#header h1 a:hover {
    color: #000;
}
#header h2 {
    font-weight: normal;
    font-size: 1.33em;
    color: #6f6f6f;
    margin: 0;
}
#header .rss {
    position: absolute;
    bottom: 5px;
}
#sidebar {
    font-size: 1.167em;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar h3 {
    margin-bottom: 0.25em;
    color: #852A2C;
    font-weight: bold;
}
#sidebar #a-propos {
    margin-bottom: 2em;
}
#sidebar #a-propos p {
    font-size: 0.875em;
    margin:0;
}
#sidebar #categories {
    margin-bottom: 2em;
}
#main h1 a {
    font-weight: bold;
    text-decoration: none;
    text-shadow: #999 0px 1px 2px;
}
#main h1 a:visited {
    color: #000;
}
#main h1 a:hover {
    color: #852A2C;
}
#main p.infos {
    margin-bottom: 1em;
    color: #999;
    font-size: 1em;
}
.more {
    text-align: right;
    font-weight: bold;
}
#main p, #main li {
    font-size:1.167em;
}
#main pre {
    overflow-x: auto;
}
#main pre code {
    color: #5F5A60;
    font-size: 1.083em;
}
#main .highlight {
    background: #292929;
}
#main .highlight .c1, #main .highlight .x {
    color: #5F5A60;
}
#main .highlight .k, #main .highlight .kp {
    color: #CDA869;
}
#main .highlight .bash, #main .highlight .html, #main .highlight .cp, #main .highlight .n, #main .highlight .o, #main .highlight .p, #main .highlight .sx {
    color: #B0B0B0;
}
#main .highlight .na, #main .highlight .nc, #main .highlight .nf, #main .highlight .nt, #main .highlight .x {
    color: #9B703F;
}
#main .highlight .no {
    color: #9B859D;
}
#main .highlight .s, #main .highlight .s1, #main .highlight .s2, #main .highlight .sh {
    color: #8F9D6A;
}
#main .highlight .si {
    color: #F9EE98;
}
#main .highlight .nb, #main .highlight .sx, #main .highlight .vi {
    color: #7587A6;
}
#main .highlight .m, #main .highlight .mi, #main .highlight .ss {
    color: #CF6A4C;
}
#main #post {
    margin-bottom: 2em;
}
#main #post #content {
    margin-bottom: 3em;
}
#main #post #related {
    border-top: 1px solid #ccc;
    padding-top: 1em;
}
#main #articles-recents {
    margin-bottom: 2em;
}
#main #articles-recents .recent-post {
    margin-bottom: 2em;
}
#main #articles-recents .recent-post h3 a {
    text-decoration:none;
}
#main #articles-recents .recent-post p {
    font-size: 1em;
}
#main #archives ul {
    padding-left: 1em;
    list-style: inside;
}
#main #archives li span, #main #chronologie li span, #main #related li span {
    margin-left: 1em;
    color: #999;
    font-size: 0.857em;
}
#main #a-propos .links a {
    font-weight: bold;
}
.rss {
    display: block;
    padding-left: 18px;
    background:url(/img/feed-icon-12x12-orange.gif) top left no-repeat;
    line-height: 12px;
}
#footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}
